# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
#Imported the necessary libraries
import pandas as pd
import requests

# Sending request to the API
def get_bike_station_details(city):
    url = f"https://api.citybik.es/v2/networks/{city}"
    response = requests.get(url)
    data = response.json()

    # Extract details for each bike station
    stations = data['network']['stations']
    results = []
    for station in stations:
        name = station['name']
        latitude = station['latitude']
        longitude = station['longitude']
        number_of_bikes = station['free_bikes']
        results.append({'Name': name, 'Latitude': latitude, 'Longitude': longitude, 'Number of Bikes': number_of_bikes})
    
    return results

# Specify the city
city_name = 'toronto'

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [2]:
# Send request and parse response
results = get_bike_station_details(city_name)

Put your parsed results into a DataFrame.

In [4]:
# Create DataFrame from parsed results
df = pd.DataFrame(results)
df.head()

                          Name   Latitude  Longitude  Number of Bikes
0    Queen St E / Woodward Ave  43.665269 -79.319796                2
1  Primrose Ave / Davenport Rd  43.671420 -79.445947                0
2    Queen St. E / Rhodes Ave.  43.666224 -79.317693                0
3         Bond St / Queen St E  43.653236 -79.376716                9
4     Church St / Alexander St  43.663722 -79.380288                5

In [5]:
# Went further to undestand the data by checking null values and total number of rows and columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669 entries, 0 to 668
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             669 non-null    object
 1   Latitude         669 non-null    float64
 2   Longitude        669 non-null    float64
 3   Number of Bikes  669 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 21.0+ KB

In [6]:
df.shape

(669, 4)

In [ ]:
# Save fsq_df to a CSV file to study the data in csv/excel
df.to_csv('df.csv', index=False)